<div class="navbar"> 
  <div class="navbar-inner"> 
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
      </a>
      <ul class="nav">
        <li class="page-item-home current_page_item"><a href="http://ratings.koha-community.org/">Home</a></li>
    <li class="page-item-home"><a href="http://koha-community.org">Main Site</a></li>
    <li class="page-item-home"><a href="http://wiki.koha-community.org/">Wiki</a></li>
    <li class="page-item-home"><a href="http://bugs.koha-community.org/">Bugzilla</a></li>
    <li class="page-item-home"><a href="http://jenkins.koha-community.org/">Jenkins</a></li>
    <li class="page-item-home"><a href="http://dashboard.koha-community.org/">Dashboard</a></li>
     </ul>
   </div>
 </div>
</div>


    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Koha Ratings</h1>
            <p>This site collects star ratings from participating Koha sites and provides an aggregated feed for use by Koha (and other FLOSS library systems)</p>
            <p><a href="/about/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>All as XML</h2>
              <p>Fetch all ratings as XML</o>
              <p><a class="btn" href="/all/xml">Get XML &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>All as JSON</h2>
              <p>Fetch all ratings as JSON</p>
              <p><a class="btn" href="/all/json">Get JSON &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Add your ratings</h2>
              <p>Add your ratings to the pool of community ratings, to do so you just have to provide the url to your ratings feed (http://your_site/cgi-bin/koha/svc/star_ratings) </p>
              <p><a class="btn" href="/add_site/">Add your site &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Fetch an individual rating</h2>
              <p>You can fetch a rating in either JSON or XML, by using either an ISSN or ISBN as the key </p>
              <p><a class="btn" href="/individual">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
<!--              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
              -->
            </div><!--/span-->
            <div class="span4">
<!--              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
              -->
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>


    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

